# Data & models (too large for GitHub)
dataset/
data/raw/
models/weights/*.pt
models/weights/*.h5

# Python
__pycache__/
*.pyc
.env
venv/
ultra_venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/